body {
  margin: 0;
  font-family: 'Khula', sans-serif;
  background: rgba(28,146,210,1);
  background: -moz-linear-gradient(45deg, rgba(28,146,210,1) 0%, rgba(242,252,254,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(28,146,210,1)), color-stop(100%, rgba(242,252,254,1)));
  background: -webkit-linear-gradient(45deg, rgba(28,146,210,1) 0%, rgba(242,252,254,1) 100%);
  background: -o-linear-gradient(45deg, rgba(28,146,210,1) 0%, rgba(242,252,254,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(28,146,210,1) 0%, rgba(242,252,254,1) 100%);
  background: linear-gradient(45deg, rgba(28,146,210,1) 0%, rgba(242,252,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c92d2', endColorstr='#f2fcfe', GradientType=1 );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
#container {
  margin: 0px auto;
  color: #fff;
  height: 750px;
}
button, input {
  font-family: 'Khula', sans-serif;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #fff;
  font-size: 70px;
  font-weight: 100;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 0;
}
input:focus, input:enabled {
  outline: none;
  padding: 0 10%;
  text-align: center;
}
@-webkit-keyframes autofill {
    to {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.5);
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  text-align: center;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

#search {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: 100px;
  height: 100%;
}
#new-search {
 display: none;
    width: 120px;
    height: 60px;
    font-size: 30px;
    margin: 40px;
    background: none;
}
#errorMessage {
  width: 450px;
  margin: 100px auto;
}
#weather {
  text-align: center;
  display: none;
}
#weatherData {
  display: none;
  margin: 0 auto 50px auto;
  text-align: center;
  width: 60%;
  height: 120px;
  grid-template: 70% 80% / repeat(5, 1fr);
}
#weatherData div {
  margin: 15px;
}
#location {
  margin: 10px;
  font-size: 40px;
}
#temp {
  font-size: 70px;
  margin: 30px 0 0 0;
}
#description {
  padding: 0 80px;
}
#city, #country {
  border-bottom: none;
}
i {
  font-size: 40px;
}
.iconText {
  margin: 0;
  font-size: 14px;
}
p {
  font-weight: 100;
  font-size: 30px;
  margin-top: 30px;
}
#timestamp {
  margin-top: 100px;
}
#timestamp p {
  text-align: center;
  font-size: 14px;
}
@media (max-width: 1024px) {
  #weatherData {
    width: 95%;
  }
}
@media (max-width: 787px) {
  #search {
    margin: 10%;
    height: 430px;
  }
  button, input {
    font-size: 45px;
  }
  #weatherData {
    width: 95%;
    margin: 0 auto;
  } 
}
@media (max-width: 612px) {
  p {
    font-size: 21px;
  }
  #timestamp {
    margin-top: 0;
  }
  #errorMessage {
    width: 300px;
  }
  i {
    font-size: 30px;
  }
  #new-search {
    margin: 40px auto;
  }
}
@media (max-width: 502px) {
  p {
    font-size: 18px;
  }
   #weatherData {
    grid-template: 50% 80% / repeat(5, 1fr);
  }
}
@media (max-width: 397px) {
  p {
    font-size: 16px;
  }
}
